@charset "utf-8";
html {
	color:#000;
	background:#fff;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
	-webkit-overflow-scrolling:touch;
}
html * {
	outline:0;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
/* 在webkit下面的 默认最小的font-size是12 ，我们需要小于12px的字体大小 */
html,body {
	font-family:sans-serif;
	font-size:20px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;
	padding:0
}
body {
    font-family: Helvetica,Arial,"Segoe UI","Lucida Grande","Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif !important;
    max-width: 640px;
    margin: 0px auto;
}
body{
    font-size: .85rem;
    line-height: 1.5;
    color: #3d4145;
    overflow: hidden;
}
input,select,textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0
}
abbr,acronym {
	border:0;
	font-variant:normal
}
del {
	text-decoration:line-through
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500
}
ol,ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500
}
q:before,q:after {
	content:''
}
a{
	text-decoration: none;
}

.shibu:after, .qgbottom:after, .vbfirst:after, .after:after, .tent:after, .history:after, .price:after, .rtext:after, .rrow:after, .choice:after , .reco-cont:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}